@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root{
    --cor0: #dfe0e2;
    --cor1: #1e2749;
    --cor2: #f85e00;
    --cor3: #191919;

    --font1: Arial, Verdana, Helvetica, sans-serif;
    --font2: 'Oswald', sans-serif;
    --font3:  'Anton', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

html{
    background-color: var(--cor3);
}

body{
    max-width: 1050px;
    margin: auto;
}

.qbr-laranja{
    height: 8px;
    background-color: var(--cor2);
}

a{
    text-decoration: none;
}

/*cabeçalho e menu*/ 
header{
    height: 150px;
    max-width: 1050px;
    background-color: var(--cor1);
    padding-bottom: 15px;
    font-family: var(--font3);
}

header img{
    max-width: 350px;
    max-height: 200px;
    padding: 10px;
}

nav{
    margin: 50px 30px 0 0;
    float: right;
    font-size: 25px;
}

nav > a{
    color: var(--cor0);
    padding: 20px;
    margin: 5px;
    text-decoration: none;
    font-weight: bold;
}

nav > a:hover{
    color: var(--cor2);
    background-color: var(--cor0);
    border-radius: 10px;
    transition-duration: 0.4s;
}

a:visited{
    text-decoration: none;
}

#image-cmc{
    background-color: var(--cor2);
    max-height: 500px;
    padding-bottom: 8px;
}

#image-cmc img{
    width: 100%;
}
/*---*/ 

/*cfg article*/ 
article{
    color: var(--cor0);
    background-color: #1e2749;
    text-align: center;
    min-height: 600px;
    padding: 20px;
    font-size: 50px;
    font-family: var(--font2);
}

article h1{
    margin-bottom: 80px;
    text-decoration: underline;
}
/*---*/ 

/*article sobre*/
#sobre{
    background-color: var(--cor0);
    color: var(--cor1);
    min-height: 650px;
}

#sobre img{
    width: 400px;
    height: 400px;
    float: left;
    margin: 0px 45px;
}

#sobre p{
    max-width: 1000px;
    font-size: 32px;
    text-align: justify;
    padding-top: 20px;
}

#sobre span{
    color: var(--cor2);
}

/*---*/

/*article serviços*/ 
.servico-single{
    max-width: 450px;
    height: 300px;
    display: inline-block;
    margin: 50px 20px 50px 20px;
    text-align: center;
}

.servico-single h2{
    padding: 15px;
    margin: 20px;
    font-size: 35px;
    text-align: center;
}

i{
    color: var(--cor2);
    font-size: 110px;
}
/*---*/ 

/*article galeria*/ 
#galeria{
    background-color: var(--cor0);
    color: var(--cor1);
}

.foto-single{
    height: 300px;
    width: 400px;
    background-color: var(--cor2);
    margin: 15px;
    display: inline-block;
}

.foto-single img{
    width: 350px;
    height: 250px;
    margin: auto;
    padding-top: 20px;
}

.foto-single p{
    background-color: var(--cor1);
    font-size: 18px;
    color: var(--cor0);
    text-align: center;
    padding: 8px;
}

#galeria span{
    color: var(--cor2);
}
/*---*/

/*article contato*/
#contato i{
    padding: 15px;
}

#contato p{
   padding-bottom: 50px;
   color: var(--cor0);
}
/*---*/

/*footer*/
footer{
    min-height: 120px;
    background-color: var(--cor0);
    font-family: var(--font3);
    color: var(--cor1);
}

footer img{
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    max-width: 300px;
}

footer p{
    text-align: center;
    padding-top: 50px;
}
/*---*/

@media screen and (max-width: 960px) {
    #sobre img{
        width: 300px;
        height: 300px;
        float: none;
    }

    #sobre p{
        float: none;
    }

    .foto-single{
        max-height: 300px;
        max-width: 400px;
        background-color: var(--cor2);
        margin: 15px auto;
        display: inline-block;
    }
}

@media screen and (max-width: 923px) {
    header{
        height: 250px;
        text-align: center;
    }

    header img{
        margin: auto;
        padding-bottom:30px;
    }

    nav{
        float: none;
        margin: auto;
    }

    nav a{
        padding: 5px;
    }

    body{
        width: 100%;
    }


    footer p{
        padding-top: 30px;
    }
}

@media screen and (max-width: 620px) {
    .mail{
        font-size: 25px;
    }
}

@media screen and (max-width: 555px) {
    nav{
        font-size: 4vw;
    }

    nav a{
        padding: 5px;
    }

    footer p{
        padding-top: 20px;
    }

    footer img{
        width: 250px;
    }
}

@media screen and (max-width: 515px) {
    footer p{
        font-size: 13px;
    }

    .foto-single{
    max-height: 300px;
    max-width: 380px;
    }

    body{
        width: 100vw;
    }
}

@media screen and (max-width: 410px) {
    .foto-single{
        max-height: 270px;
        max-width: 350px;
        }
    
    .foto-single img{
        max-height: 240px;
        max-width: 320px;
    }
}
